// 2. Couleurs "Argiles de Provence" appliquées au burger
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: $provence-clay;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $provence-ochre;
}

// 3. Styles globaux
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  background-color: $provence-sand;
  color: $provence-dark;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: $font-cinzel;
}

ul {
  list-style-type: none;
}